<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lsy.mapper.TestMapper">

    <insert id="saveTableTest">
        insert into ${table}
            (`key`, `value`)
        values (#{key}, #{value})
    </insert>

    <insert id="saveTest">
        insert into test_0
            (`key`, `value`)
        values (#{key}, #{value})
    </insert>

    <insert id="addBill" parameterType="com.example.lsy.bean.Bill">
        insert into bill( money, userKey, remarkId, remark, categoryImage, type, isDelete, createTimestamp, createTime
                        , updateTimestamp, updateTime)
        values ( #{bill.money}, #{bill.userKey}, #{bill.remarkId}
               , #{bill.remark}, #{bill.categoryImage}, #{bill.type}, #{bill.isDelete}, #{bill.createTimestamp}
               , #{bill.createTime}
               , #{bill.updateTimestamp}
               , #{bill.updateTime})
    </insert>

    <insert id="addRemark" parameterType="com.example.lsy.bean.RemarkBean">
        insert into remark( userKey, remarkId, isDelete, remark, billId, createTimestamp, createTime
                          , updateTimestamp, updateTime)
        values ( #{remark.userKey}, #{remark.remarkId}, #{remark.isDelete}
               , #{remark.remark}, #{remark.billId}, #{remark.createTimestamp}, #{remark.createTime}
               , #{remark.updateTimestamp}
               , #{remark.updateTime})
    </insert>

    <insert id="updateRemark" parameterType="com.example.lsy.bean.RemarkBean">
        update remark
        set `remarkId`        = #{remark.remarkId},
            `userKey`         = #{remark.userKey},
            `isDelete`        = #{remark.isDelete},
            `remark`          = #{remark.remark},
            `billId`          = #{remark.billId},
            `updateTime`      = #{remark.updateTime},
            `updateTimestamp` = #{remark.updateTimestamp}
        where id = #{remark.id}
    </insert>

    <update id="updateTest">
        update test_0
        set `key`   = #{key},
            `value` = #{value}
        where id = #{id}
    </update>

    <insert id="updateBill" parameterType="com.example.lsy.bean.Bill">
        update bill
        set `money`           = #{bill.money},
            `userKey`         = #{bill.userKey},
            `remark`          = #{bill.remark},
            `categoryImage`   = #{bill.categoryImage},
            `type`            = #{bill.type},
            `isDelete`        = #{bill.isDelete},
            `updateTime`      = #{bill.updateTime},
            `updateTimestamp` = #{bill.updateTimestamp}
        where id = #{bill.id}
    </insert>

    <select id="getBillIdByRemarkId" resultType="com.example.lsy.bean.Bill">
        select *
        from bill
        where remarkId = #{remarkId}
          AND isDelete = 0
    </select>


    <select id="getBillByUserKey" resultType="com.example.lsy.bean.Bill">
        select *
        from bill
        where userKey = #{userKey}
          AND isDelete = 0
    </select>

    <select id="getRemarkByRemarkId" resultType="com.example.lsy.bean.RemarkBean">
        select *
        from remark
        where remarkId = #{remarkId}
          AND isDelete = 0
    </select>

    <select id="getAllUser" resultType="java.util.Map">
        select *
        from user
    </select>

    <select id="findUserByName" resultType="com.example.lsy.bean.User">
        select *
        from user
        where name = #{name}
    </select>


    <delete id="delTest">
        delete
        from test_0
        where id = #{id}
    </delete>

</mapper>